#site-content {
  color: #000000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;

  .container {
    padding: 10px;

    .main-content {
      .features-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
      }

      .row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 17.5px;
        flex-wrap: wrap;

        .col-md-4 {
          margin-top: 20px;
          background: rgb(220, 217, 228);
          padding: 15px;
          border-radius: 10px;
          transition: transform 0.3s ease-in-out;
          flex: 1 1 calc(33.333% - 20px);
          box-sizing: border-box;

          &:hover {
            transform: scale(1.05);
          }

          .feature-image img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
          }

          .feature-title {
            font-size: 22px;
            color: #000000;
            margin-top: 10px;
          }

          .feature-subtitle {
            color: #000000;
          }

          p {
            margin-top: 10px;
            text-align: left;
          }

          .read-more-button {
            display: block;
            margin-top: 10px;
            background-color: transparent;
            border: none;
            color: rgb(12, 12, 12);
            cursor: pointer;
            text-decoration: underline;
            font-size: 14px;
            padding: 0;
          }
        }
      }

      .cta-section {
        background-color: rgb(220, 217, 228);
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        width: 90%;
        margin-top: 12px;
        border-radius: 10px;
        text-align: center;
        background-size: cover;
        background-position: center;
      }

      .cta-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .cta-section {
          flex: 1;
          margin: 10px;
          max-width: 45%;
        }
      }

      .content-row {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .news-section {
          flex: 0 0 60%;
          padding-right: 20px;
        }

        .calendar-map-container {
          flex: 0 0 35%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: 100px;
          .calendar {
            margin-bottom: 20px;
          }

          .google-map {
            width: 100%;
          }
        }
      }
    }
  }

  .news {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 20px;
      position: relative;

      .date {
        display: block;
        margin-bottom: 5px;
        font-size: 14px;
        color: #803737;
        text-align: left;
      }

      .entry-title {
        font-size: 18px;
        font-weight: bold;
        text-align: left;
      }

      .read-more-button {
        display: inline-block;
        margin-left: 5px;
        background-color: transparent;
        border: none;
        color: rgb(12, 12, 12);
        cursor: pointer;
        text-decoration: underline;
        font-size: 14px;
        padding: 0;
      }
    }
  }

  .extraordinary-button {
    background-color: #ff5733;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #ff8c66;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(209, 57, 57, 0.3);
    }

    &:active {
      transform: translateY(2px);
    }

    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }

    &:hover {
      animation: pulse 1s infinite;
    }
  }
}

.wp-calendar {
  width: 290px;
  margin-top: 20px;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;

  th, td {
    height: 30px;
    text-align: center;
    width: 40px;
    vertical-align: middle;
    border: 2px solid #ddd;
    padding: 10px;
    transition: background-color 0.3s ease;
  }

  th {
    background-color: rgba(247, 247, 247, 0.9);
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  td {
    background-color: rgba(255, 255, 255, 0.9);
    color: #666;
    font-size: 14px;

    &:hover {
      background-color: rgba(240, 240, 240, 0.9);
      cursor: pointer;
    }

    &.today {
      background-color: rgba(255, 204, 0, 0.9);
      color: #000;
      font-weight: bold;
      border-radius: 5px;
    }
  }

  .month-header {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    background-color: rgba(247, 247, 247, 0.9);
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.calendar-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}
