.confirmation-container {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

.confirmation-details {
  margin-top: 20px;
  margin-bottom: 40px;

  p {
      margin: 10px 0;
  }

  .extraordinary-button {
      margin-top: 20px;
  }
}
