.evaluation-container {
  display: flex;
  flex-direction: column;
}

.evaluation-form {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-left: 40px;
  flex-wrap: wrap;
}

.form-block {
  flex: 1;
  height: 140px;
  margin: 10px;
  padding: 30px;
  border: 2px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-block label {
  display: block;
  margin-bottom: 10px;
}

.form-block input,
.form-block textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.evaluation-button1 {
  background-color: #ff7300; /* Utilisation de la couleur primaire de Bootstrap */
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
  border-radius: 10px;
  width: auto; /* Ajuste automatiquement la largeur du bouton en fonction de son contenu */
  display: block; /* Assure que le bouton occupe une ligne entière */
  margin: 10px auto; /* Centre le bouton horizontalement */
}

button:hover {
  background-color: #b37a00;
}

.center-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.center-link a {
  font-size: 18px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
