$primary-color: #000000;
$background-color: #f5f5f5;
$hover-scale: 1.05;
$border-radius: 10px;
$box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

.terrain-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: $background-color;
}

.terrain-card {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    width: 80%;
    background: #fff;

    h2 {
        text-align: center;
        margin-bottom: 10px;
        color: $primary-color;
    }

    .terrain-details {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .terrain-info {
            flex: 1;
            padding: 10px;
            text-align: left;

            p {
                margin-bottom: 10px;
                color: $primary-color;
                strong {
                    font-weight: bold;
                }
            }
        }

        .terrain-actions {
            flex: 1;
            text-align: right;
            padding: 10px;

            .extraordinary-button {
                background-color: orange;
                color: #fff;
                border: none;
                border-radius: 10px;
                padding: 10px 20px;
                cursor: pointer;
                transition: all 0.3s ease;
                &:hover {
                    background-color: darken(orange, 10%);
                    transform: scale($hover-scale);
                }
            }
        }
    }
}
